<!DOCTYPE html>
<html lang="en" ng-app="blackOut">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BlackOut App</title>
	<meta name="description" content="Minimal Frontend for my thesis">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="blackout.css">	
	<link href='http://fonts.googleapis.com/css?family=Audiowide&effect=canvas-print' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500' rel='stylesheet' type='text/css'>
</head>
<body>

	<div ng-view></div>
	<!-- <script src="lib/jquery-2.1.1.min.js"></script> -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
	<script src="lib/angular/angular-sanitize.min.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="lib/lodash.min.js"></script>
	<script src="blackout.js"></script>	
	<script src="common/config.js"></script>	
	<script src="common/resource.js"></script>	
	<script src="test.js"></script>	
	<script src="views/main/main.module.js"></script>	
	<script src="views/main/main.directives.js"></script>	
	<script src="views/main/main.controllers.js"></script>	
	<!-- <script src="views/result/result.js"></script>	 -->

	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Process info</h3>
        </div>
        <div class="modal-body">
        <h3>Legend</h3>
        	<ul>
				<li><b>Token:</b> A token from tweet</li>        	
				<li><b>Tag:</b> POS tag for token</li>        	
				<li><b>Matched:</b> Token disambiguated as</li>        	
				<li><b>Matched part:</b> Which part of token that actually matched</li>        	
				<li><b>Match score:</b> 1 for exact match, 0.8 for word match, 0.3 for fuzzy match</li>
				<li><b>Freebase soccer domain score:</b> Freebase score when token lookedup in soccer domain</li>
				<li><b>Freebase general score:</b> Freebase score when token lookedup in all domains</li>
				<li><b>Graph model weight:</b> Path weight for that node in our graph</li>
				<li><b>Computed rank:</b> Computed rank for that token</li>
        	</ul>
        	<h3>Methodology</h3>
        	<p>
        		some long text
        	</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

</body>
</html>
